auto-save-list
elpa
eln-cache
history
recentf
places
custom.el
.cache/
.dap-breakpoints
.lsp-session-v1
eclipse.jdt.ls/
projectile-bookmarks.eld
projects
transient/
workspace/
\#init.el\#
.last-package-update-day